@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.home {
  position: relative;
  width: 100%;
  min-height: 70vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('img/mountains.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  display: flex;
  align-items: center;
}

.logo a.navbar-brand {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  border: 1px solid #593401;
  padding: 10px;
  border-radius: 5px;
}

header {
  position: fixed;
  background: rgb(234, 205, 163);
  background: linear-gradient(90deg, rgba(234, 205, 163, 1) 0%, rgba(214, 174, 123, 1) 100%);
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

header .logo {
  position: relative;
  max-width: 70px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #593401;
}


.home {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#motto {
  font-weight: 100;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  text-align: left;
}

@media (max-width: 768px) {
  #motto {
    font-size: 16px;
    line-height: 1.4;
  }
}


.home .textBox {
  position: relative;
  max-width: 600px;
}

.home .textBox h2 {
  padding-top: 25px;
  color: #fcb234;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 600;
}

.home .textBox h2 span {
  color: #dd9001;
  font-size: 1.2em;
  font-weight: 900;
}

.home .textBox p {
  padding-top: 15px;
  padding-bottom: 15px;
}

.home .textBox a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #dd9001;
  color: #ffffff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}

.home .imgBox {
  width: 750px;
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.about {
  background-image: url('img/tengah.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0;
  text-align: center;
  background-attachment: fixed;
  height: 100%;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  height: 100%;
}

.about-text {
  background-color: #ffffff6e;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}


h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

td {
  padding: 10px;
}

@media (max-width: 768px) {
  .main {
    max-width: 100%;
    padding: 10px;
  }

  th,
  td {
    text-align: center;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 20px;
  }

  tr {
    margin-bottom: 10px;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background-color: #f2f2f200;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}

footer {
  background-image: url('img/footer.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.social {
  margin-top: 10px;
}

.social a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  margin: 0 10px;
}

.end {
  margin-top: 20px;
}